/* Write your code here. */
.bgContainer {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.r {
  align-self: center;
  display: flex;
  list-style-type: none;
}
.img {
  height: 400px;
  margin: 10px;
  align-self: center;
}
