/* Write your code here. */
.thumb {
  margin: 10px;
  background-color: transparent;
  opacity: 50%;
}
.o {
  margin: 10px;
  background-color: transparent;
  opacity: 100%;
}
button {
  background-color: transparent;
  border-width: 0px;
}
